<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/trindadetecnologia/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="USER" />
      <add key="ClearTextPassword" value="TOKEN" />
    </github>
  </packageSourceCredentials>
</configuration>

<!--

dotnet pack -c Release -p:RepositoryUrl=https://github.com/trindadetecnologia/AspNet.Security.ApiKey.Providers
dotnet nuget push "bin/Release/AspNet.Security.ApiKey.Providers.1.1.0.nupkg" -s "github"

-->